<link rel="stylesheet" type="text/css" href="/css/styles.css">

<h1 class="f_Monad s_heading dash align_right">ACCOUNT</h1>
<a href="/homepage"><button class="logout">Go Back</button></a>
<br><br><br>
<hr class="acc mt_10"><br><br>

<div class="container s_20">
    <span class="leftspan bold">Name:</span><span class="rightspan"><%=user.name%></span><br>
    <span class="leftspan bold">Email:</span><span class="rightspan"><%=user.email%></span><br>
    <span class="leftspan bold">Registered on:</span><span class="rightspan"><%=user.date.toLocaleDateString()%></span>
</div>

